<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Creamos un contenedor con varias rows para cada campo del formulario -->
<div class="container w-50">
  <h1 class="d-flex justify-content-center">Formulario de contacto</h1>
  <form #formulario="ngForm">
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="Nombre y Apellidos" id="nombre" name="nombre" ngModel>
        <!-- Debajo de cada input añadiremos una llamada al componente validacion, donde mostrará un mensaje en rojo en caso de error para cada campo -->
        <app-validacion [nombreValido] = "nombreValido"></app-validacion>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  placeholder="ejemplo@dominio.com" id="email" name="email" ngModel>
        <app-validacion [emailValido] = "emailValido"></app-validacion>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
      <textarea class="form-control" id="mensaje" name="mensaje" rows="3" ngModel></textarea>
        <app-validacion [mensajeValido] = "mensajeValido"></app-validacion>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">2 + 3 = ?</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" placeholder="Respuesta"  id="validador" name="validador" ngModel>
        <app-validacion [respuestaValido] = "respuestaValido"></app-validacion>
        <!-- Creamos un boton que llame al método comprobar, pasándole cada atributo como un objeto -->
        <button (click)="comprobar(formulario.value)" class="btn btn-primary mt-3">Enviar</button>
      </div>
    </div>
    <div class="row">
      <!-- Creamos una llamada a la variable datos del componente validacion, donde se mostará la información introducida en caso de que todo esté bien -->
      <app-validacion [datos] = "datos"></app-validacion>
    </div>
    <div></div>
  </form>
</div>